// Config

// Colors
color-default = #555
color-warm-grey = #ccc2c0
color-grey = #999
color-border = #ddd
color-background = white


// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-desktop = "screen and (min-width: 768px)"