<footer class="footer">
    <ul class="contact-list">
      <li class="contact-list__item"> <a href="mailto:angela@angelasidwell.com"> <%- partial('_partial/social/email') %> </a></li>
      <li class="contact-list__item"> <a href="https://www.instagram.com/angela_sidwell_artist/"> <%- partial('_partial/social/instagram') %> </a></li>
    </ul>
</footer>