<footer class="footer">
    <ul class="contact-list">          
      <li class="contact-list__item">Email: <a href="mailto:angela@angelasidwell.com">angela@angelasidwell.com</a></li>
      <liclass="contact-list__item">Phone: 07944 333 408</li>
    </ul>
</footer>