<footer class="footer">
    <ul class="contact-list">
      <li class="contact-list__item">Email: <a href="mailto:angela@angelasidwell.com">angela@angelasidwell.com</a></li>
      <li class="contact-list__item">Instagram: <a href="https://www.instagram.com/angela_sidwell_artist/">angela_sidwell_artist</a></li>
    </ul>
</footer>